

.promo-text__container {
    box-sizing: border-box;
    padding: 10px;
    background: #f6f6f6;
}
.promo-text__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.promo-text__title:after{
    /*border-bottom: 2px solid rgb(244, 67, 54);*/
    border-bottom: 2px solid #535196;
    content: "";
    display: block;
    margin: 9px 0;
    width: 50px;
}

@media only screen and (min-width: 420px) {
    .promo-text__container {
        padding: 20px 40px;
    }

    .promo-text__title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 800px) {
    .promo-text__container {
        padding: 20px 40px;
    }

    .promo-text__title {
        font-size: 32px;
        line-height: 36px;
    }

    .promo-text__title:after {
        margin: 18px 0;
    }
}

@media only screen and (min-width: 1200px) {
    .promo-text__container {
        padding: 50px 100px;
    }

    .promo-text__title {
        font-size: 40px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 1450px) {
    .promo-text__container {
        padding: 50px 100px;
    }

    .promo-text__title {
        font-size: 48px;
        line-height: 58px;
    }
}
