:block(sticky):mod(scroll-up) {
	position: relative;
	z-index: 101;
	width: 100%;
	transition: all 0.3s ease 0;

	:block(sticky):elem(container) {
		background-color: #fff;
		transition: all 0.3s ease 0.1s;

		animation-duration: 0.3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;

		box-shadow: 0 2px 4px 0 rgba(156, 156, 156, 0.5);

		&:mod(shadow){
			box-shadow:0 5px 5px 0 rgba(0,0,0,.14),0 10px 10px 0 rgba(0,0,0,.12),0 4px 4px -1px rgba(0,0,0,.2);
		}
	}

	:block(sticky):elem(backing) {
		display: none;
		position: relative;
	}

	&:block(sticky):mod(fixed) {
		:block(sticky):elem(container) {
			position: fixed;
			top: 0;
			z-index: 10;
			width: 100%;
		}

		:block(sticky):elem(backing){
			display: block;
		}

		&:block(sticky):mod(has-animation){
			:block(sticky):elem(container) {
				animation-name: sticky_fixed_visible;
			}
		}
	}

	&:block(sticky):mod(has-animation){
		:block(sticky):elem(container) {
			position: fixed;
			top: 0;
			z-index: 10;
			width: 100%;

			animation-name: sticky_fixed_hidden;
		}

		:block(sticky):elem(backing){
			display: block;
		}
	}
}

@keyframes sticky_fixed_hidden{
	0% {
		position: fixed;
		top: 0;
		visibility: visible;
        opacity: 1;
		transform: translateY(0);
    }

    99% {
		transform: translateY(-100%);
    }

    100% {
		visibility: hidden;
        opacity: 0;
    }
}

@keyframes sticky_fixed_visible{
    0% {
		visibility: hidden;
        transform: translateY(-100%);
        opacity: 0;
    }

    99% {
        transform: translateY(0);
    }

    100% {
		visibility: visible;
        opacity: 1;
    }
}

@keyframes sticky-fixid {
    from {
        transform: translateY(50%);
    }

    to {
        transform: translateY(0);
    }
}
